/* #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.btn-container{
  display: flex;
  gap: 0.5rem;
  background-color: white;
  padding: 4px;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.btn{
  border: 1px;
  border-radius: 2rem;
  height: 2rem;
  width: 4rem;
  margin: 0.2rem;
} */